* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.architectua {
    width: 1140px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header_nav_list {
    display: flex;
    list-style: none;
}

.container_header {
    display: flex;
    justify-content: space-between;
}

.header_nav_list li a {
    text-decoration: none;
}

.header_nav_list li {

    padding: 44px 40px;
}
.logo{
    padding: 40px 0px 0px 0px;
}
.container_menu {

    width: 400px;
    display: flex;
    justify-content: center;
}

.menu_project {

    color: #BDBDBD;
}

.container_menu .menu_project .area {

    margin: 320px 110px 0px 0px;
    font-size: 64px;

}

.container_menu .menu_project .area2 {
    font-size: 64px;
    color: #333333;
    margin: 0px 110px 0px 0px;
}

.container_menu .menu_project .menu-logo {
    margin: 90px 110px 90px 0px;
}

.container_menu .menu_project .menu_logo img {
    width: 53px;
    height: 53px;
}

.menu_project_number {
    font-size: 24px;
}

button {
    background: #fff;
    width: 222px;
    height: 71px;
    border: 0px;
    border-color: white;
}

.menu_picture_nurtown {
    position: relative;
}

.picture_button {
    position: absolute;
    margin: 759.3px 70px 400px -770px;
    text-align: center;
}
.compani {
    margin: 120px 0px 60px 0px;
}

.compani_menu {
    background: #FBFBFB;

}

.compani_menu {
    display: flex;
    justify-content: space-between;
}

.compani_menu_galeriya {
    display: flex;
    margin-right: 0px;
}

.compani_menu_galeriya_p2 {
    margin: 60px 30px 30px 0px;
}

.compani_menu_galeriya_voris {
    margin: 30px 30px 30px 100px
}

.p1 {
    margin: 30px 0px 0px 100px;
}

.lorem {
    width: 400px;
    height: 200px;
    margin: 0px 70px 20px 0px;
}

.head {
    width: 354px;
    height: 64px;
    color: #BDBDBD;
    font-size: 64px;
    margin: 30px 116px 20px 0px;
}

.word_button {
    margin: 0px 248px 30px 0px;
}
.menu_third {
    height: 268px;
    display: flex;
    justify-content: center;
}

.third_menu_header {
    width: 600px;
    padding: 0px 81px 0px 0px;
    margin: 0px;
}

.third_menu_header_bosh_harf {
    width: 519px;
    height: 64px;
    margin: 0px 0px 30px 0px;
    color: #BDBDBD;
    font-family: 'TT Hoves';
    font-weight: 300;
    font-size: 64px;
}

.one {
    margin: 30px 0px 0px 0px;
    display: flex;



}

.one .one_first {
    font-size: 200px;
    font-family: 'SF Pro Display';
    font-weight: 900;
    padding: 0;
    margin: 0px 15px 0px 0px;
    width: 104px;
    height: 140px;
    display: flex;
    align-items: center;
    color: #F2F2F2;
}

.third_menu_header_kichik_harf {
    width: 279px;
    height: 144px;
    margin: 0px 0px 0px 15px;
    font-size: 22px;
}

.third_menu_word {
    width: 420px;
    height: 268px;
    margin: 0px;
}

.second {
    display: flex;
    margin: 90px 0px 0px 0px;
}

.second .second_two {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    display: flex;
    align-items: center;
    width: 120px;
    height: 140px;
    color: #F2F2F2;
    margin: 0px 15px 0px 0px;
}

.second_word {
    width: 420px;
    height: 144px;
    font-size: 22px;
    margin: 0px 0px 0px 15px;
}

.projects {
    height: 664px;
    margin: 120px 0px 0px 0px;
}

.projects_proyekt {
    width: 427px;
    height: 64px;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    color: #BDBDBD;
    margin: 0px 0px 60px 0px;
}

.projects_menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.projects_menu ul .list_1 {
    margin: 0px 15px 15px 0px;
}

.projects_menu ul .list_2 {
    margin: 0px 0px 15px 15px;
}

.projects_menu ul .list_3 {
    margin: 15px 15px 0px 0px;
}

.projects_menu ul .list_4 {
    margin: 15px 15px 0px 15px;
}

.projects_menu ul .list_5 {
    margin: 15px 0px 0px 15px;
}
footer {
    display: flex;
    justify-content: center;
}

.footer_menu {

    margin: 120px 0px 0px 0px;
    height: 417px;
    width: 1440px;
    background: #2C2C2C;
}

.footer_list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}

.footer_logo {
    margin: 58px 99px 0px 116px
}

ul {
    list-style: none;
}

.footer_informatsiya {
    margin: 58px 157px 0px 0px;
    height: 229px;
}

.footer_kontakti {
    margin: 58px 71px 0px 0px;
}

.footer_seti {
    margin: 58px 0px 0px 0px;
}

.footer_informatsiya li {
    width: 103px;
    height: 20px;
    margin: 0px 16px 0px 0px;
}

.footer_informatsiya-first {
    padding: 0px 0px 25px 0px;
    font-weight: 700;
    font-size: 16px;
}

.footer_informatsiya_first:first_child {
    margin-bottom: 25px;
}

.footer-kontakt_list {
    display: flex;
}

.footer_kontakt_list_first {
    margin: 25px 0px 0px 0px;
}

.footer_kontakt_list_second {
    padding: 25px 0px 32px 19px;
    width: 314px;
    height: 72px;
}

.footer_kontakt_list_2 ul {
    display: flex;
}

.footer_kontakt_list_2_first {
    font-weight: 700;
    font-size: 16px;
}

.footer_kontakt_list_2_second {
    padding: 0px 0px 0px 13.99px;
    width: 314px;
    height: 24px;
}

.footer_kontakt_list_3 {
    display: flex;
}

.footer_kontakt_list_3_second {
    margin: 32px 0px 0px 14px;
    width: 181px;
    height: 24px;
}

.footer_kontakt_list_3_first {
    padding: 32px 0px 0px 0px;
}

.seti_list {
    display: flex;
}

.seti_list li {
    padding-right: 40px;
    padding-top: 26px;
}
.border{
    border: 0.1px solid #FFF;
    margin-bottom: 70px;
}
.manzil{
    width: 1440px;
    height: 22px;
    margin-right: 591px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    
    color: rgba(200, 200, 200, 0.5); 
}
.opros h1{
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    padding-top: 30px;
}
.opros{
    /* display: flex; */
    justify-content: space-between;
    padding-top: 60px;
}
.oproslist{
    display: flex;
    flex-direction: column;
}
.opros_first{
    display: flex;

}
.oprosimg{
    padding-left: 45px;
}
.oproslist input{
    margin-top: 10px;
    border: none;
    background: #F3F3F3;
    width: 400px;
    height: 45px;
}
#sms{
    width: 400px;
    height: 150px;
    border: none;
    background-color: #F3F3F3;
    margin-top: 10px;
}
.btnimg{
    padding-top: 10px;
}
.btn1{
    padding-left: 945px;
}